.dialog-distribution .dialog-kd{
	border-collapse:collapse;
}
.dialog-distribution .dialog-kd thead td{
	padding: 5px 5px;
	background-color: #305A99;
	color: #F6F6F6;
	font-weight: bold;
}
.dialog-distribution .dialog-kd td{
	padding:5px 5px;
	text-align:center;
}
.dialog-distribution .dialog-kd tbody tr:nth-child(odd) td{
	background-color:#FAFAFA;
}
.dialog-distribution .dialog-kd tbody tr:nth-child(even) td{
	background-color:#F5F5F5;
}
.dialog-distribution .dialog-kd td input[type="number"]{
	width:100%;
	box-sizing:border-box;
	text-align:center;
}
.dialog-distribution .button-area{
	text-align:center;
	padding:7px 0 1px 0;
}
.dialog-distribution .button-area input[type="button"],
.dialog-distribution .button-area input[type="submit"],
.dialog-distribution .button-area input[type="reset"]{
	width:85px;
	box-sizing:border-box;
}
.dialog-distribution .dialog-kd tfoot td{
	background-color: #AAF89B;
}
